<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Yu-Chun's <%= title %></title>
</head>

<body>
    <div style="text-align: center;">
        <div class="jumbotron">
            <h1>Welcome to Yu-Chun's RESTful API Page!</h1>
            <h1>Here Are All The Avengers</h1>
        </div>
        <table class="table table-bordered table-dark table-hover table-striped" id="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                <% data.avengers.forEach(avenger => { %>
                <tr>
                    <td><%= avenger.name %></td>
                    <td><%= avenger.age %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>

        <!-- <% data.avengers.forEach(avenger => { %>
        <p><%= avenger.name %></p>
        <% }); %> -->

        <h2>Time to Add New Avenger!</h2>
        <div class="form-group">
            <label for="newName">New Avenger Name</label>
            <input type="text" id="newName" class="form-control" style="width: 50%; margin: auto;">
            <p id="nameDuplication" style="color: red;"></p>
            <label for="newAge">New Avenger Age</label>
            <input type="text" id="newAge" class="form-control" style="width: 50%; margin: auto;">
            <button onclick="submitName()" class="btn btn-primary">Submit</button>
        </div>
    </div>

    <!-- include javascript code here -->
    <!-- <script src="../frontend/client-side.js"></script> -->
    <script>
        function saveToData(lastItem) {
            console.log(lastItem);

            const table = document.getElementById("table");

            const tableRow = document.createElement('tr');
            tableRow.innerHTML = `<td>${lastItem.name}</td>
                <td>${lastItem.age}</td>`

            table.appendChild(tableRow);
        }

        function submitName() {
            // get the input value of the new name entered by the user
            const newName = document.getElementById("newName").value;
            const newAge = document.getElementById("newAge").value;

            fetch('https://restful-api-yuchun.herokuapp.com/insert', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        name: newName,
                        age: newAge
                    }) // turn the value into JSON format
                })
                .then(result => result.json())
                .then(fullData => {
                    console.log(fullData);
                    console.log("insert successfully.");
                    // clear the input after submitting the form
                    document.getElementById("newName").value = '';
                    document.getElementById("newAge").value = '';

                    // save the new name into data, so it will display on the screen
                    let dataLength = fullData.data.avengers.length;
                    let lastItem = fullData.data.avengers[dataLength - 1];
                    saveToData(lastItem);
                })
                .catch(err => {
                    console.log(err);
                })

            console.log("clicked successfully");
        }
    </script>
</body>

</html>